* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-color: hsl(210, 46%, 95%);
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  width: 70%;
  max-width: 1440px;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 180px;
  grid-template-areas:
    "div1 div1 div2 div3"
    "div4 div5 div5 div3";
  padding: 10px;
  gap: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.one {
  background-color: hsl(263, 55%, 52%);
  grid-area: div1;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 230px top;
}
.two {
  background-color: hsl(217, 19%, 35%);
  grid-area: div2;
}
.three {
  background-color: hsl(0, 0%, 100%);
  grid-area: div3;
}
.four {
  background-color: hsl(0, 0%, 100%);
  grid-area: div4;
}
.five {
  background-color: hsl(219, 29%, 14%);
  grid-area: div5;
}

.onebody {
  margin: 15px;
}

img {
  border-radius: 50%;
  width: 20px;
  border: 1px solid hsl(0, 0%, 100%);
}
.imagediv {
  display: flex;
  margin-bottom: 10px;
}
.besideimage {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
h4 {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
}
.small {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
}
.text2 {
  font-size: 10px;
  padding-right: 20px;
  color: hsl(0, 0%, 81%);
}
.text1 {
  font-size: 15px;
  padding-bottom: 10px;
  padding-right: 20px;
  line-height: 1;
  color: hsl(0, 0%, 100%);
}
.text,
.hcolor {
  color: hsl(217, 19%, 35%);
}
.texty {
  padding-right: 50px;
  color: hsl(217, 19%, 35%);
}
@media screen and (max-width: 600px) {
  .container {
    background-color: hsl(210, 46%, 95%);
  }
  .card {
    width: 100%;
    max-width: 375px;
    font-family: "Barlow Semi Condensed", sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "div1"
      "div2"
      "div4"
      "div5"
      "div3";
    margin: 20px 0;
  }
  .onebody {
    margin: 20px 20px;
  }
}
